.container_article{
  width: 50%;
  margin: 0 auto;
  .data{
    margin: 2em 0 0 0;
  }
  h1, .data{
    text-align: center
  }
  hr{
    text-align: center;
    width: 4em;
    border:0;
    height: 2px;
    border-top: 2px solid $hight-light;
    padding: 1em;
  }
  #share_box{
    text-align: center;
    a{
      cursor: pointer;
      text-decoration: none;
      color: $dark;
      &:hover{
      color: $hight-light;
      }
    }
  }
  .content{
    text-align: justify;
    padding-bottom: 3em
  }
}

.articles_wrapper{
  text-align: center;
}
//css pagination

.pagination:before,
.pagination:after{
  content: " ";
  display: table
}

.pagination:after{
  clear: box;
}

.pagination{
  text-align: center;
  margin: 0 0 3em 0;
  a, .previous_page, .current, .next_page{
    padding: .75em 1em;
    margin: 0 0.1em;
    font-size: .7em;
    text-decoration: none;
    font-weight: 700;
    background-color: #fff;
    color: $dark;
    border-radius: .15em;
    font-style: normal;
    &:hover{
      color: #fff;
      background: $hight-light;
    }
  }
  .current{
    background-color: $hight-light;
    color: #fff;
  }
  .disabled{
    color: #c0c0c0;
    &:hover{
      background: #fff;
      color: #c0c0c0;
    }
  }
}


