.container_article{
  width: 50%;
  margin: 0 auto;
  .data{
    margin: 2em 0 0 0;
  }
  h1, .data{
    text-align: center
  }
  hr{
    text-align: center;
    width: 4em;
    border:0;
    height: 2px;
    border-top: 2px solid $hight-light;
    padding: 1em;
  }
  #share_box{
    text-align: center;
    a{
      cursor: pointer;
      text-decoration: none;
      color: $dark;
      &:hover{
      color: $hight-light;
      }
    }
  }
  .content{
    text-align: justify;
    padding-bottom: 3em
  }
}

.articles_wrapper{
  text-align: center;
}
//css pagination

.pagination:before,
.pagination:after{
  content: " ";
  display: table
}

.pagination:after{
  clear: box;
}

.pagination{
  text-align: center;
  margin: 0 0 3em 0;
  a, .previous_page, .current, .next_page{
    padding: .75em 1em;
    margin: 0 0.1em;
    font-size: .7em;
    text-decoration: none;
    font-weight: 700;
    background-color: #fff;
    color: $dark;
    border-radius: .15em;
    font-style: normal;
    &:hover{
      color: #fff;
      background: $hight-light;
    }
  }
  .current{
    background-color: $hight-light;
    color: #fff;
  }
  .disabled{
    color: #c0c0c0;
    &:hover{
      background: #fff;
      color: #c0c0c0;
    }
  }
}

#principal_title{
  text-align: center;
  padding: 0.8em 0;
  border-bottom: 1px solid
}
.wrapper_general{
  text-align: center;
  .title{
    text-transform: uppercase;
    padding: 0 0 .8em 0;
    font-weight: 700;
  }
  a{
    text-decoration: none;
    color: $dark;
  }
  .date{
    color: $light;
  }
  hr{
    color: $hight-light;
    width: 4em;
    border:0;
    border-bottom: 2px solid;
    height: 2px;
    margin: 1em auto;
  }
}

#actions{
  text-align:center;
  border-bottom: 1px solid $light;
  border-top: 1px solid $light;
  padding: .7em 0;

  a{
    color: $light;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 1em
  }
}

.form{
  width: 90%;
  margin: 0 auto;
  label{
    margin: .3em 7.5em;
    text-transform: uppercase;
    text-align:justify;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="submit"]
   {
      border: 1px solid $light;
      border-radius: 0.2em;
      padding: .5em;
      width: 80%
  }
   input[type="checkbox"]{
    text-align: justify;
  }
  textarea{
    width: 80%;
    border: 1px solid $light;
    border-radius: 0.2em;
    height: 400px
  }
  .form-group{
    margin: 2em 0;
    label{
      display: block;
    }
  }
  .form-checkbox{
    text-align: justify;
    margin: 0 7.5em 1em ;

    label{
      margin: 0
    }
  }
}

#form_buttom{
  background: $hight-light;
  padding: .8em 2em;
  color: #fff;
  border-radius: .2em;
  font-weight: 700
}

